function Main.main 0
push constant 240
push constant 120
push constant 120
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 240
push constant 120
push constant 2
call Screen.drawCircle 3
pop temp 0
push constant 240
push constant 120
push constant 240
push constant 60
call Screen.drawLine 4
pop temp 0
push constant 240
push constant 120
push constant 300
push constant 60
call Screen.drawLine 4
pop temp 0
push constant 230
push constant 10
push constant 235
push constant 30
call Screen.drawLine 4
pop temp 0
push constant 230
push constant 30
push constant 235
push constant 10
call Screen.drawLine 4
pop temp 0
push constant 240
push constant 10
push constant 240
push constant 30
call Screen.drawLine 4
pop temp 0
push constant 245
push constant 10
push constant 245
push constant 30
call Screen.drawLine 4
pop temp 0
push constant 235
push constant 210
push constant 240
push constant 230
call Screen.drawLine 4
pop temp 0
push constant 245
push constant 210
push constant 240
push constant 230
call Screen.drawLine 4
pop temp 0
push constant 250
push constant 210
push constant 250
push constant 230
call Screen.drawLine 4
pop temp 0
push constant 340
push constant 130
push constant 340
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 345
push constant 130
push constant 345
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 350
push constant 130
push constant 350
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 130
push constant 130
push constant 130
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 135
push constant 130
push constant 140
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 135
push constant 110
push constant 140
push constant 130
call Screen.drawLine 4
pop temp 0
push constant 285
push constant 25
push constant 285
push constant 45
call Screen.drawLine 4
pop temp 0
push constant 320
push constant 60
push constant 320
push constant 80
call Screen.drawLine 4
pop temp 0
push constant 325
push constant 60
push constant 325
push constant 80
call Screen.drawLine 4
pop temp 0
push constant 320
push constant 160
push constant 320
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 325
push constant 160
push constant 330
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 335
push constant 160
push constant 330
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 285
push constant 200
push constant 290
push constant 220
call Screen.drawLine 4
pop temp 0
push constant 295
push constant 200
push constant 290
push constant 220
call Screen.drawLine 4
pop temp 0
push constant 185
push constant 200
push constant 190
push constant 220
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 200
push constant 190
push constant 220
call Screen.drawLine 4
pop temp 0
push constant 200
push constant 200
push constant 200
push constant 220
call Screen.drawLine 4
pop temp 0
push constant 205
push constant 200
push constant 205
push constant 220
call Screen.drawLine 4
pop temp 0
push constant 145
push constant 160
push constant 150
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 155
push constant 160
push constant 150
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 160
push constant 160
push constant 160
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 165
push constant 160
push constant 165
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 170
push constant 160
push constant 170
push constant 180
call Screen.drawLine 4
pop temp 0
push constant 145
push constant 60
push constant 150
push constant 80
call Screen.drawLine 4
pop temp 0
push constant 145
push constant 80
push constant 150
push constant 60
call Screen.drawLine 4
pop temp 0
push constant 180
push constant 25
push constant 185
push constant 45
call Screen.drawLine 4
pop temp 0
push constant 180
push constant 45
push constant 185
push constant 25
call Screen.drawLine 4
pop temp 0
push constant 190
push constant 25
push constant 190
push constant 45
call Screen.drawLine 4
pop temp 0
push constant 0
return
